$color-bg-primary: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
$color-train: #00C851;
$color-white: #fefefe;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;
$color-play: #e67e22;

$content-width: 1440px;

$breakpoint-tablet: 989px;
$breakpoint-mobile: 659px;