%transition {
    transition: all 0.3s ease-out;
}

%shadow-small {
    -webkit-box-shadow: 0px 0px 42px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -13px rgba(0,0,0,0.75);
}

%shadow-medium {
    -webkit-box-shadow: 0px 0px 42px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px 6px rgba(0,0,0,0.75);
}