.header {
    background: $color-bg-primary;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}